#banner-wait {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
  color: #000000;
  background-color: #ccff66;
  z-index: 105;
}

#probsituacceptable,
[for="probsituacceptable"] {
  display: none;
}
